.generalPage {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.templateAside {
    background-color: #0095DA;
    flex: 2;
}

.recoverPasswordForm {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 323px;
    height: auto;
}